In [10]:
s= ('hello world')
s[::-1]

'dlrow olleh'

In [13]:
for index in range(0,5):
    print(index)

0
1
2
3
4

In [14]:
for index in range(0,5):
    if index == 2:
        continue
    print(index)

0
1
3
4

In [26]:
num = 20965 #ekchin wait
total = 0
for item in range(0,5):
    total = total + item
print('total number is', total)

total number is 10

In [1]:
s = 'tribikram'  # you have to use comma while writing a string while no comma is needed for numbers
for index in range(0,len(s)):
    character=s[index]
    print(f'The character {character} is in the {index} position')

The character t is in the 0 position
The character r is in the 1 position
The character i is in the 2 position
The character b is in the 3 position
The character i is in the 4 position
The character k is in the 5 position
The character r is in the 6 position
The character a is in the 7 position
The character m is in the 8 position

In [5]:
s = input('enter a name') #restart kernerl ani paila line of  code ko variable le khasai farak pardaina
for index in range(0,len(s)):
    character = s[index]
    print(f'the character {character} is in the {index} position')

enter a name anusha

the character a is in the 0 position
the character n is in the 1 position
the character u is in the 2 position
the character s is in the 3 position
the character h is in the 4 position
the character a is in the 5 position

In [7]:
for number in range(0,11): # loop and if condition
    if number == 7 :
        continue
    print(number)

0
1
2
3
4
5
6
8
9
10

In [10]:
for number in range(0,11): #breaks the line of code
    if number == 8 :
        break
    print(number)

0
1
2
3
4
5
6
7

In [13]:
# a program for finding out if the character is a vowel or consonant
n = 'kathmandu'
for l in range(0,len(n)):
    x = n[l]
    if x == 'a' or x =='e' or x =='i' or x == 'o' or x =='u':
        print(f'vowel = {x}')
    else:
        print(f'consonant ={x}')

consonant =k
vowel = a
consonant =t
consonant =h
consonant =m
vowel = a
consonant =n
consonant =d
vowel = u

In [2]:
n = 'langtang valley'
for l in range(0,len(n)):
    x = n [l]
    if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x =='u' :
        print(f'vowel = {x}')
    elif x == ' ':
        continue
    else:
        print(f'consonant = {x}')

consonant = l
vowel = a
consonant = n
consonant = g
consonant = t
vowel = a
consonant = n
consonant = g
consonant = v
vowel = a
consonant = l
consonant = l
vowel = e
consonant = y

In [18]:
T = input('enter your full name')# take's users full name as input
T= T.lower()
for r in range(0,len(T)): #indexes the previous string
    i = T[r] #slices the string into individual characters
    if i == 'a' or i == 'e' or i =='i' or i == 'o' or i == 'u' : # if condition for the string
        print(f'vowel = {i}') # if condition is satisfied then it prints the statement
    elif i == " " : # another condition where if the string is empty
        continue # it skips the process for that individual element that fulfills the elif statement
    else:#else statement
        print(f'consonant = {i}')# the rest is printed

enter your full name TRIBIKRAM JUNG SHAH

consonant = t
consonant = r
vowel = i
consonant = b
vowel = i
consonant = k
consonant = r
vowel = a
consonant = m
consonant = j
vowel = u
consonant = n
consonant = g
consonant = s
consonant = h
vowel = a
consonant = h

In [ ]:
T = input('enter a name of the head of state of a any country')

T = T.lower()

for r in range(0 , len(T)):
    i = T[r]
    if i == 'a' or i == 'e' or i =='i' or i =='o' or i =='u':
        
        print(f'vowel = {i}')
    elif i==' ':
    
        break #works like a stop funtion
    else:
        print(f'consonant = {i}')

In [19]:
id(T)

1894954112688

In [2]:
place= 't$ho rolpa'
place.replace('$','s') #replaces the character with another character

'tsho rolpa'

In [4]:
name = 'tribikram'
name.title()

'Tribikram'

# in replace() both data are stored in memory separately

In [5]:
name = 'Tribikram Jung Shah' #splits the words
name.split()

['Tribikram', 'Jung', 'Shah']

# the above is split statement

In [8]:
word_join = ['ferrai','lamborghini','bugatti']
' '.join(word_join)

'ferrai lamborghini bugatti'

# now for the addition equation

In [6]:
T = [9, 8, 4, 0, 9, 2, 9, 3, 4, 4]
R = 0
for i in T:
    R = R + i
print(R)

52

In [2]:
num =[2, 0, 9, 6, 5]  #analyse
total = 0
for item in num:
    total = total + item
print(total)

22

In [7]:
t = [ 5, 4, 3, 2, 1]
r = 0
for I in range(0,len(t)):
    r = r + I
print(r)

10

In [9]:
t = [2,2,2,2,2]
r = 0 
for i in range(0,len(t)):
    r = r + i/len(t)
print(f'The mean of the number is {r}')

The mean of the number is 2.0

In [6]:
x = [8, 6, 5, 2] #addition using a method i understand
y = 0
for z in range(0 ,len(x)):
    y = y + x[z]
print(f'The final value is {y}')

The final value is 21

In [9]:
x = [ 8, 6, 5, 2] #mean using a method i understand
y = 0 
for z in range(0,len(x)):
    y = y + x[z]/len(x)
print(y)

5.25

In [10]:
list = ['boeing', 'airbus', 'bombadier', 'cessna']
list.append('ATR')

In [11]:
list

['boeing', 'airbus', 'bombadier', 'cessna', 'ATR']

In [17]:
list = ['boeing', 'airbus', 'bombadier', 'cessna']
list.insert(0, 'ATR')
list

['ATR', 'boeing', 'airbus', 'bombadier', 'cessna']

In [20]:
list.remove('airbus')
list

['boeing', 'bombadier', 'cessna']

In [22]:
list = ['boeing', 'airbus', 'bombadier', 'cessna']
list2 = ['dehavilland','siroksy','mikoyan','antonov']
list.extend(list2)
list

['boeing',
 'airbus',
 'bombadier',
 'cessna',
 'dehavilland',
 'siroksy',
 'mikoyan',
 'antonov']

In [23]:
list = ['boeing', 'airbus', 'bombadier', 'cessna']
list.sort()
list

['airbus', 'boeing', 'bombadier', 'cessna']

In [24]:
num = [ 2,5,6,4]
num.sort()
num

[2, 4, 5, 6]

In [27]:
num.sort(reverse=True)
num

[6, 5, 4, 2]

In [28]:
list.append('ATR')
list.append('boeing')
list

['airbus', 'boeing', 'bombadier', 'cessna', 'ATR', 'boeing']

In [29]:
x = [8,9,6,3,2,1]
cube = []
for num in x :
    cube.append(num**3)
print(cube)

[512, 729, 216, 27, 8, 1]

In [30]:
x.pop()
x

[8, 9, 6, 3, 2]

# check string value and learning to concatenate

In [2]:
string1 = 'nepalindiachina'
string1 = string1.upper()
string2 = 'INDIACHINANEPAL'
check = string1 + string1 #concatenate with itself
if string2 in check:
    print('true')
else:
    print('false') #finally understood

true

# list comprehension

In [4]:
num = [3,4,5,6,7]
sq = []
for item in num:
    sq.append(item**2)
print(sq)

[9, 16, 25, 36, 49]

In [6]:
[item**2 for item in num] # list comprehension for variable

[9, 16, 25, 36, 49]

In [9]:
num = [3,4,5,6,7]
[item for item in num if item % 3 == 0] # list comprehension what if statement

[3, 6]

In [11]:
num = [3,4,5,6,7]
[item if item % 2 == 0 else item in num] # lsit comprehension what if else statement

[True]

# Tuples

In [1]:
T = ('BYD','Tesla','Neta','Hyundai','FOTON') # list of strings with round brackets
type(T)

tuple

In [2]:
T[2]

'Neta'

In [3]:
T[2]='maserati' # dosen't replace the data because values in tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [4]:
d = ['kathmandu','pokhara','bhairawa','nepalgunj'] #example of mutable datatype list

In [5]:
d[1]='dolpa' # replaces the data in list because it is mutable data type

In [6]:
d

['kathmandu', 'dolpa', 'bhairawa', 'nepalgunj']

In [7]:
#typecasting chai garna milcha

In [9]:
T = ('BYD','Tesla','Neta','Hyundai','FOTON')
print(id(T),T,type(T)) # checking memory location,value and datatype

1916901909392 ('BYD', 'Tesla', 'Neta', 'Hyundai', 'FOTON') <class 'tuple'>

In [10]:
# now typecasting

In [11]:
T = list(T)
T.insert(1,'Morris Garage')
T

['BYD', 'Morris Garage', 'Tesla', 'Neta', 'Hyundai', 'FOTON']

In [17]:
T = tuple(T)
T

('BYD', 'Morris Garage', 'Tesla', 'Neta', 'Hyundai', 'FOTON')

In [18]:
type(T)

tuple

In [20]:
# so bascially if you want to make changes to tuple datatype then first you have to convert it to list
# stored in different memory location id(variable)

In [27]:
A_food = ('chicken chilli','kimbap','pani puri','chicken c.momo')
A_food = list(A_food)
A_food

['chicken chilli', 'kimbap', 'pani puri', 'chicken c.momo']

In [28]:
A_food.append('peri-peri fired chicken')

In [29]:
A_food= tuple(A_food)
A_food

('chicken chilli',
 'kimbap',
 'pani puri',
 'chicken c.momo',
 'peri-peri fired chicken')

In [30]:
# indexing and slicing ma feri no chnge is needed

In [31]:
# tuples unpacking

In [32]:
a,b=(9,8)

In [33]:
a

9

In [34]:
b

8

# Sets

In [59]:
set = {'melbourne','sydney','perth','darwin','adelaide','canberra'}
set.add('gold coast')

In [53]:
set

{'adelaide',
 'canberra',
 'darwin',
 'gold coast',
 'melbourne',
 'perth',
 'sydney'}

In [54]:
set.remove('gold coast')
set

{'adelaide', 'canberra', 'darwin', 'melbourne', 'perth', 'sydney'}

In [55]:
set.discard('kathmandu') # if the value is not there than it will return nothing if yes then it will remove it

In [56]:
set

{'adelaide', 'canberra', 'darwin', 'melbourne', 'perth', 'sydney'}

In [75]:
set1 = {'brazil','india','russia','china','southafrica'} #operations
set2 ={'india','australia','US','canada'}

In [76]:
set1.intersection(set2) #set1 ^ set2

{'india'}

In [77]:
set2.intersection(set1) # ste 2 ^ set 1

{'india'}

In [78]:
set1.union(set2) # set 1 + set 2 - set1 ^ set 2

{'US',
 'australia',
 'brazil',
 'canada',
 'china',
 'india',
 'russia',
 'southafrica'}

In [79]:
set2.union(set1)# set 1 + set 2 - set1 ^ set 2

{'US',
 'australia',
 'brazil',
 'canada',
 'china',
 'india',
 'russia',
 'southafrica'}

In [80]:
set1.difference(set2) # A - B

{'brazil', 'china', 'russia', 'southafrica'}

In [81]:
set2.difference(set1) # B - A

{'US', 'australia', 'canada'}

In [82]:
# looping statement
set = {'northkorea','israel','USA','Pakistan','Russia'}
for nuclearpowers in set:
    print(nuclearpowers)

USA
Pakistan
northkorea
Russia
israel

# frozen set .important

In [83]:
planetsinsolarsystem = {'mercury','venus','mars','earth','saturn','jupiter','neptune','uranus'}
only=frozenset(planetsinsolarsystem)

In [84]:
only

frozenset({'earth',
           'jupiter',
           'mars',
           'mercury',
           'neptune',
           'saturn',
           'uranus',
           'venus'})

In [86]:
only.add('pluto') # frozen set banaisakyo tei vayera error ako

AttributeError: 'frozenset' object has no attribute 'add'

# Dictionaires

In [88]:
Bike = {
    'brand':'KTM',
    'model':'rc200',
    'year':'2016',
    'type':'sports'
} # eg of dictioanry where the lef is the key and the right is the value making a both a pai

In [89]:
Bike

{'brand': 'KTM', 'model': 'rc200', 'year': '2016', 'type': 'sports'}

In [26]:
Bike = {
    'brand':'KTM',
    'model':'rc200',
    'year':'2016',
    'type':'sports',
    'othermodels': ['superduke','duke','exc','husqvarna'] # if you wan to add additional values to single key
}

In [27]:
Bike

{'brand': 'KTM',
 'model': 'rc200',
 'year': '2016',
 'type': 'sports',
 'othermodels': ['superduke', 'duke', 'exc', 'husqvarna']}

In [28]:
Bike['brand'] # getting the value

'KTM'

In [29]:
Bike.get('year') # using round brackets get function is used

'2016'

In [30]:
Bike['horsepower']= ['25bhp'] # esari garyo vane values square brackets ma auncgha

In [31]:
Bike

{'brand': 'KTM',
 'model': 'rc200',
 'year': '2016',
 'type': 'sports',
 'othermodels': ['superduke', 'duke', 'exc', 'husqvarna'],
 'horsepower': ['25bhp']}

In [32]:
Bike.update({'tagline':'ready to race'}) # if round and curly braces are used then the values are updated without square brackets

In [33]:
Bike

{'brand': 'KTM',
 'model': 'rc200',
 'year': '2016',
 'type': 'sports',
 'othermodels': ['superduke', 'duke', 'exc', 'husqvarna'],
 'horsepower': ['25bhp'],
 'tagline': 'ready to race'}

In [34]:
Bike.keys()

dict_keys(['brand', 'model', 'year', 'type', 'othermodels', 'horsepower', 'tagline'])

In [35]:
Bike.values()

dict_values(['KTM', 'rc200', '2016', 'sports', ['superduke', 'duke', 'exc', 'husqvarna'], ['25bhp'], 'ready to race'])

In [36]:
Bike.items()

dict_items([('brand', 'KTM'), ('model', 'rc200'), ('year', '2016'), ('type', 'sports'), ('othermodels', ['superduke', 'duke', 'exc', 'husqvarna']), ('horsepower', ['25bhp']), ('tagline', 'ready to race')])

In [37]:
x = ('model','rc200')
a , b = x

In [38]:
a

'model'

In [39]:
b

'rc200'

In [40]:
x = ('model','rc200')
x = a , b

In [41]:
a

'model'

In [42]:
b

'rc200'

In [43]:
for a,b in Bike.items() :
    print(f'The key is {a} and value is { b}')

The key is brand and value is KTM
The key is model and value is rc200
The key is year and value is 2016
The key is type and value is sports
The key is othermodels and value is ['superduke', 'duke', 'exc', 'husqvarna']
The key is horsepower and value is ['25bhp']
The key is tagline and value is ready to race

In [44]:
Bike.pop('othermodels')

['superduke', 'duke', 'exc', 'husqvarna']

In [45]:
Bike

{'brand': 'KTM',
 'model': 'rc200',
 'year': '2016',
 'type': 'sports',
 'horsepower': ['25bhp'],
 'tagline': 'ready to race'}

In [46]:
Bike.update({'horsepower': '24bhp'}) # succesful in first try

In [47]:
Bike

{'brand': 'KTM',
 'model': 'rc200',
 'year': '2016',
 'type': 'sports',
 'horsepower': '24bhp',
 'tagline': 'ready to race'}

In [51]:
Bike = {
    'brand':'KTM',
    'model':'rc200',
    'year':'2016',
    'type':'sports',
    'othermodels': ['superduke','duke','exc','husqvarna']# if you wan to add additional values to single key
}

In [ ]:
# swap the key value of any two dictionary

In [58]:
swap = {
    'msg1':'hello',
    'msg2':'Tello'
    
}

In [59]:
swap

{'msg1': 'hello', 'msg2': 'Tello'}

In [60]:
 {val:key for key,val in swap.items()}

{'hello': 'msg1', 'Tello': 'msg2'}

In [5]:
# nested dictionary

In [1]:
Bike= {
    'Ktm' : {'model':'duke200','horsepoer':25 },
    'Bajaj' :{'model':'pulsar200','horsepower':23}
}

In [2]:
Bike

{'Ktm': {'model': 'duke200', 'horsepoer': 25},
 'Bajaj': {'model': 'pulsar200', 'horsepower': 23}}

In [4]:
Bike['Ktm']['model']

'duke200'

In [5]:
# take 2 input from user and convert it into keys and values for dictionary

In [10]:
Bike = []
for i in range(2):
    Brand = input('enter your favourite brand of motorcycle')
    Model = input('enter your favourite model of that brand')
    B = {
        'Brand': Brand ,'Model': Model
    }
    Bike.append(B)

enter your favourite brand of motorcycle Ktm
enter your favourite model of that brand 200
enter your favourite brand of motorcycle ducati
enter your favourite model of that brand panigale

In [11]:
Bike

[{'Brand': 'Ktm ', 'Model': '200'}, {'Brand': 'ducati ', 'Model': 'panigale'}]

In [16]:
x = 50
y = 0
try:
    output = x / y
except Exception as e:
    print(e)
    print(f'y = {y}')

division by zero
y = 0

In [19]:
try:
    x = int(input('enter a number'))
    y = int(input('enter a number'))
    output= x/y
except Exception as e: # yo lekhyo vane error tha huncha, Exception captures all kinds of exception
    print(e)
    print('error')
finally:
    print('if there is an error then the entered value might be a string or float or zero')

enter a number 50
enter a number 25

if there is an error then the entered value might be a string or float or zero

In [21]:
x = 50
y = 0 
if x != 0:
    raise Exception('The computer is dumb') # prints this as the exception instead of things like value error etcetera

Exception: The computer is dumb

In [23]:
a = 15
b= 0 
try:
    output = a/b
except Exception as e:
    print(e)
finally: # always prints no matter what happens to previous lines of codes
    print('this line is always executed no matter what')

division by zero
this line is always executed no matter what

# file handling

In [1]:
import os # this is very important to remember , without this all the codes after this will show error

In [2]:
os.path.exists('ktm.txt') # checks if the file exists or not

False

In [3]:
os.path.exists('ktm.txt') # now it exists

True

In [2]:
ktm = open('ktm.txt','r')
file = ktm.read()
ktm.close()

In [3]:
print(file)

Ktm is an austrian company which manufactures high performance motorbikes.
It's majority stakeholder is the BAJAJ company of india.
It's popular types of bikes are the duke series , the RC series and range of dirtbikes.

In [4]:
file = open('deakinuniversity.txt','r')
text = file.read()
print(text)

Deakin University is ranked as one of the top 1% universities in the world.
It is one of the top 5 universities in melbourne,victoria.
It's burwood campus offers a course in master in business analytics.

In [5]:
file.close()

In [9]:
file = open('deakinuniversity.txt','r')
text = file.readline() # one paragraph matrai print garcha
print(text)

Deakin University is ranked as one of the top 1% universities in the world.

In [10]:
# do tommorow

In [2]:
with open('ktm.txt','r') as file:
    text = file.read()
print(text)

Ktm is an austrian company which manufactures high performance motorbikes.
It's majority stakeholder is the BAJAJ company of india.
It's popular types of bikes are the duke series , the RC series and range of dirtbikes.

In [4]:
with open('deakinuniversity.txt','r') as file:
    Read = file.read()
print(Read)

Deakin University is ranked as one of the top 1% universities in the world.
It is one of the top 5 universities in melbourne,victoria.
It's burwood campus offers a course in master in business analytics.

In [5]:
# wrte('w') creates a new file if the name of that file dosent exist or if the file exists than replaces the old file with new one

In [7]:
with open('jawaan.txt','w') as file:
    file.write('Shahrukh khan')

In [8]:
with open('jawaan.txt','r') as file:
    print(file.read())

Shahrukh khan

In [17]:
with open('melbourne.txt','w' ) as file:
    file.write('the most liveable city on the planet')
with open('melbourne.txt','r') as file:
    print(file.read())

the most liveable city on the planet

In [18]:
# append

In [19]:
with open('ktm.txt','a') as file:
    file.write('it costs a lot to maintain') #vayo
with open('ktm.txt','r') as file:
    print(file.read())

Ktm is an austrian company which manufactures high performance motorbikes.
It's majority stakeholder is the BAJAJ company of india.
It's popular types of bikes are the duke series , the RC series and range of dirtbikes.
it costs a lot to maintainit costs a lot to maintain

In [20]:
import os
os.remove('melbourne.txt') # removes file

# function

In [1]:
def addition(x,y):
    sum = x + y
    return sum

In [2]:
print('hello world')

hello world

In [3]:
sum = addition(9,10)
print(f'The sum of the number is {sum}')

The sum of the number is 19

In [4]:
def substraction(q,w):
    minus = q - w
    return minus

In [5]:
print('jai nepal')

jai nepal

In [8]:
minus = substraction(71000 , 30000)
print(f'The difference of the number is {minus}')

The difference of the number is 41000

In [9]:
def division(e,r):
    ER = e/r
    return ER

In [10]:
print('deakin university')

deakin university

In [12]:
ER = division(9,4)
print(ER)

2.25

In [16]:
def multiply(t,r):
    into = t*r
    return into

In [17]:
print('melbourne')

melbourne

In [18]:
into = multiply(9,9)
print(into)

81

In [24]:
def modulus(x): # struction is like thi def function_name(parameter/argument X)
    if x % 2 == 0: 
        print(f'The number {x} is even ')
    else:
        print(f'The number {x} is odd')
    return x # return y

In [25]:
print('May it work')

May it work

In [28]:
x = modulus(3) #return = fintionname(parameter)
print(x)

The number 3 is odd
3

In [30]:
x = float(input('Enter a number to determine if its odd or even'))
x = modulus(x)
print(x) # esari ni garna mildo raicha

Enter a number to determine if its odd or even 3

The number 3.0 is odd
3.0

In [31]:
import math

In [37]:
def volume(r):
    sphere= 4/3*math.pi*r**3
    return sphere

In [39]:
r = float(input('Enter the radius of the sphere'))
sphere = volume(r)
print(f'The volume of the sphere is {sphere}') # the program is running smoothly

Enter the radius of the sphere 6

The volume of the sphere is 904.7786842338603

In [41]:
# volume of the sphere is 4/3*pi*r*83

In [ ]:
# while loop is used to execute a loop until a specified condition remains true

In [1]:
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4