# Use \*args and \**kwargs for cariable length input in function

In [2]:
##\*args

In [3]:
def total(*args):
    print(type(args),args)

In [5]:
total(1,2,3,4,5)

<class 'tuple'> (1, 2, 3, 4, 5)

In [6]:
total(66,33,2)

<class 'tuple'> (66, 33, 2)

In [7]:
# in *args data goes in tuple type inside function

In [9]:
total(1,2,3,4,5)
sum = 0
for index in total:
    sum = sum + index 
print(sum)

<class 'tuple'> (1, 2, 3, 4, 5)

TypeError: 'function' object is not iterable

In [14]:
def add(*args):
    grand_total = 0
    for item in args:
        grand_total = grand_total + item
    return grand_total

In [15]:
add(1,2,3,4,5,6,7,8,9,10)

55

#\**kwargs

In [17]:
def about(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [18]:
about(name='tribikram' , age = 23)

{'name': 'tribikram', 'age': 23}
<class 'dict'>

# Things to remember: for interview

* *args and **kwargs are special keyword which allows function to take variable length
argument.
* args passes varable number of non-keyworded arguments and on which operation of the
tuple can be performed
* **kwargs passes variable number of keyword arguments dictionary to function on which
operation of a dictionary can be performed.

* Â· *args and **kwargs make the function flexible.